header{
    background-repeat:repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 5.0rem;
    background-size:fill;
    padding: 15px;
}

.grid{
    color: var(--white);
    background-color: var(--black);
    width: max-content;
    height: 50px;
    box-shadow: 2px 2px var(--wheat);
    font-weight: bolder;
}

.blue{
color: var(--blue);
}

.red{
color: var(--red)
}

.main-nav{
left: 40.1%;
top: 0;
display: flex;
justify-content: space-between;
}

.main-nav-list{
background-color: var(--black);
height: 1.2rem;
}

.main-nav-link{
float: left;
color: var(--white);
padding-right: 4rem;
list-style-type: none;
font-weight: 600;
font-size: 1.1rem;
cursor: pointer;
}

.main-nav-link:hover{
background-color: var(--alt-black);
}

.main-nav-link a{
color: var(--white);
text-decoration: none;
}

.sub-list li:hover{
background-color: rgb(49, 47, 47);
border-radius: 5%;
}

.sub-list{
position: absolute;
top: 43px;
left: 1fr;
width:max-content;
display: none;
list-style: none;
border: 1px solid black;
box-shadow: 2px 2px 2px rgb(228, 195, 195);
column-gap: 20px;
background-color: rgb(20, 17, 17);
padding: 12px;
line-height: 1.2;
}

.sub-list p{
font-size: 12px;
margin-top: 5px;
color: rgb(167, 163, 163);
}

.sub-list a{
position: relative;
display: block;
transition: all 0.4s;
}

.main-nav-link:hover .sub-list{
display:flex;

}
 
.search-main{
display: flex;
align-items: center;
padding: 10px;
top: 0px;
width: 350px;
left:150px;
border: 1px solid wheat;
height: 40px;
border-radius: 10px;
background-color: rgb(59, 54, 54);
}

.search-main span{
    cursor: pointer;  
}

.search{
width: 250px;
margin: 5px;
left: 10%;
height: 20px;
outline: none;
border-style: hidden;
border-left: 2px solid rgb(100, 80, 80);
background-color: rgb(59, 54, 54);
color: rgb(185, 168, 168);
}

select{
background-color: rgb(59, 54, 54);
border: none;
color: rgb(185, 168, 168);
border-style: hidden;
outline: none;
}
/*******you can work with musicians from anywhere******/
.quick-section{
background-image: url(/images/background-imgs/background-3.jpg);
background-position: center;
background-size: cover;
background-repeat: no-repeat;
height: 700px;
display: flex;
flex-direction: column;
align-content: center;
justify-content: center;
}

.musician-write-up{
width:max-content;
/* position: absolute; */
/* left: 17.2%; */
align-self: center;
justify-content: center;
top: 25%;
overflow-wrap: normal;
height: 100px;
}

.musician-text{
font-size: 45px;
font-style: normal;
}

.upload{
/* position:absolute; */
display:flex;
left: 19.5%;
top:40%;
column-gap: 20rem;
justify-content: center;
}

.upload-beat, .purchase-beat{
/* border: 1px solid white; */
height: 300px;
width: 300px;
justify-items: space-around;
background-color: var(--black);
position: relative;
box-shadow: 2px 2px 2px blue;
}

.upload-beat p, .purchase-beat p{
font-size:25px;
text-align: center;
margin:2rem;
}

.upload-beat button, .purchase-beat button{
    color: var(--white);
    background-color: rgb(44, 44, 150);
    width: 200px;
    height: 50px;
    position: absolute;
    top: 60%;
    left: 16%;
}

/***********************get-musician*********************/

.get-a-session-musician{
    background-color: var(--black);
    height: 100%;
    color: rgb(255, 255, 255);
}

.get-a-musician{
    background-color: rgb(255, 255, 255);
    margin: 15px;
    height: 700px;
    padding: 20px;
    color: rgb(0, 0, 0);
    display: grid;
    gap: 50px;
    grid-template-columns: 1fr 1fr;
    justify-content:center;
    align-self: center;
    box-shadow: 2px 2px 2px var(--wheat);
}
    

.endless-opportunities { 
    align-self:center;
    width: 400px;
    height: 300px;
    margin-left: 100px;
    margin-top: 70px;
}

.endless-opportunities h1{
    margin-bottom: 10px;
}

.endless-opportunities button{
    margin-top: 30px;
}

.guitar img{
    object-fit:cover;
    /* align-self: center; */
    transition: all 0.4s;
    margin-top: 100px;
    box-shadow: 10px 5px 5px var(--wheat);
    width: 600px;
    height: 400px;
}

.cta{
color: var(--white);
background-color: rgb(44, 44, 150);
width: 200px;
height: 50px;
}

/* ***********************hub-page******************* */
.hub-page{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content:center;
align-self: center;
background-color: antiquewhite;
margin: 15px;
height: 700px;
padding: 20px;
}

.share-idea-pictures{
position: relative;


}
.share-idea-pictures img{
object-fit: cover;
width: 500px;
height: 300px;
align-self: center;
margin-top: 70px;
margin-left: 70px;
box-shadow: 7px 5px 5px var(--black);
}

.music-pros-pic{
position:absolute;
left: 170px;
top:200px;
}

.share-idea{
align-self:center;
width: 300px;
height: 300px;
margin-left: 200px;
margin-top: 70px;
color: black;
width: max-content;
}

.share-idea h1, .share-idea p{
    margin-bottom: 16px;
}
/*******************logo-section******************* */

.logo-section{
display: flex;
justify-content: space-around;
align-items: center;
height: 200px;
margin:0px 15px;
box-shadow: 2px 2px 2px var(--wheat)
}

.logo-section h1{
font-style: italic;
color: rgb(190, 183, 172);
}

.logo-section h2{
font-weight: bold;
font-size: 20PX;
color: white;
}

.logo-section img{
object-fit: cover;
width: 150px;
height: 150px;
border-radius: 15px;
}
/************************testimonial-section */

.testimonial-section{
height: 100%;
background-color: white;
color: black;
padding: 5px;
margin:0px 15px ;
box-shadow: 2px 2px 2px var(--wheat);
font-size: 14px;
}

.testimonial-section h1{
font-weight: bolder;
font-size: 50px;
padding-left:60px;
padding-top: 40px;
}

.testimonial{
    padding: 20px;
}

.testimonial-container{
display: grid;
grid-template-columns: repeat(4, 1fr);
justify-content: space-around;
align-items:center;
padding: 20px;
align-content: center;
}

.testimonial-container img{
object-fit: cover;
width: 300px;
height: 300px;
border-radius: 50%;
box-shadow: 2px 2px 2px var(--wheat);
transition: all 0.4s;
margin-bottom: 18px;

}

div .img{
    align-self: center;
}

.testimonial-container img:hover{
transform: scale(1.1);
}

.testimonial .name{
font-style: italic;
font-weight:bold;
margin-top: 10px;
}

/* ******************************music-course******************** */
.music-course-section{
height: 800px;
background-color: white;
color: black;
padding: 5px;
margin: 1px 15px ;
box-shadow: 2px 2px 2px var(--wheat)
}

.music-course-container{
display: grid;
grid-template-columns: 1fr 1fr;
justify-content:center;
align-self: center;
margin: 15px;
height: 600px;
padding: 20px;

}

.music-course{
align-self: center;
width: 400px;
height: 350px;
margin-left: 200px;
margin-top: 70px;
}   

.music-course h1, .music-course p{
    margin-bottom: 16px;
}

.music-course-pic{
position: relative;

}

.music-course-pic img{
object-fit: cover;
width: 400px;
height: 300px;
align-self: center;
margin-top: 50px;
box-shadow: 7px 5px 5px var(--black);
margin-left: 70px;
}

.course-pic{
position:absolute;
left: 170px;
top:150px;

}

/***********************benefits-section***********/
.grid-benefits-section{
height: 400px;
background-color: rgba(37, 10, 39, 0.979);
color: black;
padding: 50px;
margin: 15px;
box-shadow: 2px 2px 2px var(--wheat);
}
.grid-benefits-section p{
color: white;
font-size: 18px;
}

.grid-benefits-section h1{
font-weight: bold;
font-size: 25px;
padding-left: 18px;
color: white;
}

.grid-benefits-container{
display: flex;
justify-content: space-around;
align-items: center;
height: 200px;
margin:10px 15px;
}

.grid-benefits-container img{
object-fit: cover;
width: 130px;
height: 130px;
align-self: center;
box-shadow: 7px 5px 5px var(--black);
border-radius: 10%;
cursor: pointer;
margin-bottom: 10px;
}

/*************************footer*************************** */
.footer-section{
background-color: black;
height:300px;
}

.footer-main-container{
display: grid;
grid-template-columns: 1fr 1.5fr;
max-width: 130rem;
row-gap: 7.0rem;
column-gap: 5.5rem;
margin: 5rem 7rem;
padding: 0 3.2rem;
justify-content: space-around;
}

.footer-logo{
align-self:flex-start;
padding-left: 3px;
}

.footer-sub-container{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
margin-right: 35px;
column-gap: 1rem;
}

.footer-sub-container li, a{
list-style-type: none;
text-decoration: none;
width: fit-content;
color: white;
}

.footer-heading li{
display: grid;
grid-template-rows: auto auto auto;
row-gap: 2.5PX;
}
.footer-heading p{
display: grid;
grid-template-rows: auto auto auto;
row-gap: 2.5PX;
}

.headings{
font-weight: bold;
font-size: 21px;
}
