@media (max-width: 1350px) {
    .music-course-pic{
        width: 80%;
    }
    
    .guitar img{
            object-fit:cover;
            width: 500px;
            height: 400px;
        }
    
    .testimonial-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-left: 100px;
        gap: 10px;
       
        }

        .testimonial{
          
        width: fit-content;
        }

        .get-a-musician .share-idea{
        display: grid;
    
        /* justify-content: space-around; */
        column-gap: 20px;
        /* height: max-content; */
        /* margin-left: 120px; */
        }

        .testimonial p{
            text-align: center;}


        
        }

        

@media (max-width: 1250px) {

    .get-a-musician{
        display: flex;
        flex-direction: column-reverse;
    
        height: 100%;
        }

        
    .guitar{
        align-self: center;
        align-items: center;
        justify-content: center;
        
    }

    .endless-opportunities, .share-idea, .music-course{
    width: 100%;
    /* box-sizing: unset; */
    margin-left: 60px;
    align-self: center;
    align-items: center;
    justify-content: center;
        /* margin: 0; */
    }

    .hub-page, .music-course-container, .music-course-section{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        align-self: center;
        height: 100%;
    }

    .share-idea-pictures{
       margin-right: 250px;
    }
    .share-idea, .music-course{
        margin-top: 300px;
        margin-left: 70px;
        text-align: center;
        text-align-last: center;
    }

    .music-course{
        margin-top: 200px;
        margin-right: 100px;
    }

    .music-course-pic{
        margin-right: 150px;
    }

    .logo-section img{
        width: 100px;
        height: 100px;
        
    }

    .logo-section h1, .logo-section h2{
        font-size: 20px;
    }

    .logo-section{
        padding-left: 5px;
        padding-right: 5px;
    }

    .testimonial-container{
    margin-left: 50px;
    }



    .testimonial p, .endless-opportunities p, .share-idea p, .music-course p{
     font-size: 30px;
    }

    .endless-opportunities, .share-idea p, .music-course , .testimonial p{
        text-align-last: center;
    }
    
}